.tag {
  display: inline-block;
  border: 1px solid #452f2f;
  border-radius: 4px;
  padding: 0.16rem 0.6rem 0.1rem 0.6rem;
  margin: 0.6rem 0.6rem 0 0;
  font-size: 0.7rem;
  font-weight: 700;
  opacity: 0.8;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  background-color: #fafafa29;
}

.tagSelected {
  background-color: rgb(194, 0, 58);
  color: white;
  border: 1px solid rgb(194, 0, 58);
}